<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<div class="col-md-12">
    <div class="col-md-4" >
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
        <h1>내 정보</h1>
        <div>
            <form th:action="@{/account/myinfo}" th:object="${user}">
        <table>
            <tr><td>학교</td><td><input type="text" class="form-control" th:field="*{school}" readonly></td></tr>
            <tr><td>학번</td><td><input type="text" class="form-control" th:field="*{number}" readonly></td></tr>
            <tr><td>학과</td><td><input type="text" class="form-control" th:field="*{major}" readonly></td></tr>
            <tr><td>생년월일</td><td><input type="text" class="form-control" th:field="*{birth}" readonly></td></tr>
            <tr><td>이름</td><td><input type="text" class="form-control" th:field="*{name}" readonly></td></tr>
            <tr><td>아이디</td><td><input type="text" class="form-control" th:field="*{username}" readonly></td></tr>
        </table>
        <a class="btn btn-primary" th:href="@{/user/changepassword}">비밀번호변경</a>
            </form>
        </div>
                    </div></div></div></section>
    </div>
</div>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>