<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
<h1>비밀번호 찾기</h1>
                <form method="get">
<table>
    <tr><td>아이디</td><td><input type="text" id="id" th:name="username" th:value="${param.username}"></td></tr>
    <tr><td>가입한 이메일</td><td><input type="email" id="email"><button class="btn btn-primary btn-lg">인증</button></td></tr>
    <tr><td>학번</td><td><input type="text" id="num" th:name="number" th:value="${param.number}"></td></tr>
</table>
<button class="btn btn-primary btn-lg" type="subm]it">인증확인</button>
                </form>
                <form  th:if="${user} != null">
                    <div class="mb-4"  th:object="${user}">
                        <a class="btn btn-primary"  th:href="@{/user/changepassword(username=${user.username})}">찾기</a></div>
                </form>
            </div></div></div></section>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>