<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
    <!-- school input-->
                <form method="get" th:if="${user} == null">
    <div class="form-floating mb-3">
        <select class="custom-select form-select" th:name="school" th:value="${param.school}" id="school">
            <option value="0">선택하세요</option>
            <option value="강남대학교">강남대학교</option>
            <option value="용인대학교">용인대학교</option>
            <option value="명지대학교">명지대학교</option>
        </select>
        <label for="school">학교</label>
    </div>
    <!-- number input-->
                <div class="form-floating mb-3">
                        <input class="form-control" id="user_number" maxlength="9" th:name="number" th:value="${param.number}" type="text" placeholder="학번" required />
                        <label for="user_number">학번</label>
<!-- <div class="invalid-feedback" data-sb-feedback="name:required">학번을 입력해주세요</div>-->
                </div>
                    <!-- name input-->
                    <div class="form-floating mb-3">
                            <input class="form-control" id="user_name" th:name="name" th:value="${param.name}" type="text" placeholder="이름" required />
                            <label for="user_name">이름</label>
<!--                            <div class="invalid-feedback" data-sb-feedback="name:required">이름을 입력해주세요</div>-->
                        </div>
<!--    <div class="form-floating mb-3 d-grid d-sm-flex">-->
<!--        <input class="form-control" id="email" type="email" th:name="email" placeholder="name@example.com" required />-->
<!--        <label for="email">학교 이메일</label>-->
<!--        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>-->
<!--        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>-->
<!--        <button class="btn btn-primary btn-lg">인증</button>-->
<!--    </div>-->
<button class="btn btn-primary btn-lg" type="submit">찾기</button>
                </form>
                <form method="post" th:if="${user} != null">
               <div class="mb-4" th:object="${user}">
                   <textarea class="form-control-6" id="noice_id" style="height: 5rem" th:field="*{username}" readonly></textarea>
               </div>
                    <div class="mb-4">
                        <a class="btn btn-primary"  th:href="@{/account/login}">로그인</a></div>
                    <div class="mb-4">
                    <a class="btn btn-primary"  th:href="@{/user/findpassword}">비밀번호 찾기</a></div>
           </form>
            </div></div></div></section>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>