<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<h1>비밀번호 변경</h1>
<form method="get">
    <div th:if="${param.new_pass} != ${param.new_pass_ck}" class="alert alert-danger" role="alert">
        새로운 비밀번호가 맞지 않습니다.
    </div>
    <table>
        <tr th:if="${user} == null"><td>온도</td><td><input type="text" th:id="present_pass" th:name="present_pass" th:value="${param.present_pass}"></td></tr>
        <tr><td>새로운 비밀번호</td><td><input type="text" id="pass1" th:name="new_pass" th:value="${param.new_pass}"></td></tr>
        <tr><td>비밀번호 확인</td><td><input type="text" id="pass2" th:name="new_pass_ck" th:value="${param.new_pass_ck}"></td></tr>
    </table>
    <button class="btn btn-primary btn-lg form-control" style="font-size:1.5rem;" type="submit">변경</button>
</form>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>