<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <h2>FAQ</h2>
                <hr>
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- 1 Q&A !-->
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center btn-primary-2 btn-lg-1">
                        <button class="btn btn-primary-2 btn-lg-1">Q1</button>
                        <textarea class="form-control-2 btn-primary-2" id="Q1" type="text" style="height: 6rem" readonly>매칭이 안 될 시 어떡하나요?
                        </textarea>
                    </div>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center btn-primary-1 btn-lg-1">
                        <button class="btn btn-primary-1 btn-lg-1">A1</button>
                        <textarea class="form-control-2 btn-primary-1" id="A1" type="text" style="height: 6rem" readonly>한 번 더 원하시면 매칭 다시시도 버튼을 누르면 됩니다.
                        </textarea>
                    </div>
                    <!-- 2 Q&A !-->
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center btn-primary-2 btn-lg-1">
                        <button class="btn btn-primary-2 btn-lg-1">Q2</button>
                        <textarea class="form-control-2 btn-primary-2" id="Q1" type="text" style="height: 6rem" readonly>선택 랜덤이 뭔가요?
                        </textarea>
                    </div>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center btn-primary-1 btn-lg-1">
                        <button class="btn btn-primary-1 btn-lg-1">A2</button>
                        <textarea class="form-control-2 btn-primary-1" id="A1" type="text" style="height: 6rem" readonly>뭐게요~
                        </textarea>
                    </div>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <textarea class="form-control-1" id="message" type="text" placeholder="Enter your message here..." style="height: 5rem" data-sb-validations="required"></textarea>
                        <button class="btn btn-primary btn-lg"  style="margin-top: 6rem">전송</button>
                    </div>
                </form>
            </div></div></div></section>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>