<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<div class="page-content page-container" id="page-content">
    <div class="padding bg-light">
        <div class="row container justify-content-center">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card m-auto">
                    <div class="card-body">
                        <h4 class="card-title text-center"><strong>랜덤매칭 현황</strong></h4><br>
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th class="pl-0">목록</th>
                                    <th class="text-right">상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="pl-0-">매칭 현황</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-primary badge-pill">매칭중</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">인원</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-info badge-pill">4</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">Danger label</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-danger badge-pill">Danger</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">Success label</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-success badge-pill">Success</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">Warning label</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-warning badge-pill">Warning</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card m-auto">
                    <div class="card-body">
                        <h4 class="card-title text-center"><strong>선택매칭 현황</strong></h4><br>
                        <div class="template-demo">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th class="pl-0">목록</th>
                                    <th class="text-right">상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="pl-0">매칭 현황</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-primary badge-pill">매칭중</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">인원</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-info badge-pill">3</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">Danger label</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-danger badge-pill">Danger</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">Success label</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-success badge-pill">Success</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">Warning label</td>
                                    <td class="pr-0 text-right">
                                        <div class="badge badge-warning badge-pill">Warning</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>