<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<h1>랜덤매칭</h1>
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                    <button class="btn btn-primary btn-lg" id="btn_m" onclick="minus()">-</button>
                    <input class="form-control form-control-4" type="text" id="var1" value="1" readonly>
                    <button class="btn btn-primary btn-lg" id="btn_p" onclick="plus()">+</button>
                </div>
                <!-- id input-->
                <table id="ran_table" class=" gap-3 d-sm-flex justify-content-sm-center ran_id">
                    <tr><td class="text-center fs-5">아이디</td></tr>
                    <tr id="ran_userid0"><td><input class="form-control form-control-5 justify-content-center" type="text"></td></tr>
                </table>
                <div>
                    <textarea class="form-control-1" readonly>남녀 혼합, 성비가 부족한 경우 동성간의 매칭이 이루어질 수 있습니다.</textarea>
                </div>
                <div >
                    동의 <input type="checkbox" name="agree" value="y">
                </div>
                <button class="btn btn-primary btn-lg justify-content-sm-center" onclick="location.href='/matchlist'">매칭시작</button>
            </div></div></div></section>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>