<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header-->
<head>
    <div th:replace="/layout/head.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/layout/head.html :: fragment-header-menu"></div>
<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-9">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form class="ma-1" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="justify-content-md-center">
                        <div class="row mb-3">
                            <label for="school" class="col-md-auto">학교</label>
                            <select class="custom-select col col-lg-3" id="school1">
                                <option selected>학교선택</option>
                                <option value="강남대학교">강남대학교</option>
                                <option value="용인대학교">용인대학교</option>
                                <option value="명지대학교">명지대학교</option>
                            </select>
                            <select class="custom-select col col-lg-3 ms-3" id="school2">
                                <option selected>학교선택</option>
                                <option value="강남대학교">강남대학교</option>
                                <option value="용인대학교">용인대학교</option>
                                <option value="명지대학교">명지대학교</option>
                            </select>
                            <select class="custom-select col col-lg-3 ms-3" id="school3">
                                <option selected>학교선택</option>
                                <option value="강남대학교">강남대학교</option>
                                <option value="용인대학교">용인대학교</option>
                                <option value="명지대학교">명지대학교</option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="department" class="col-md-auto">계열</label>
                            <select class="custom-select col col-lg-3" id="department1">
                                <option selected>계열 선택</option>
                                <option value="공학계열">공학계열</option>
                                <option value="인문계열">인문계열</option>
                                <option value="사회계열">사회계열</option>
                                <option value="교육계열">교육계열</option>
                                <option value="자연계열">자연계열</option>
                                <option value="의약계열">의약계열</option>
                                <option value="예체능계열">예체능계열</option>
                            </select>
                            <select class="custom-select col col-lg-3 ms-3" id="department2">
                                <option selected>계열 선택</option>
                                <option value="공학계열">공학계열</option>
                                <option value="인문계열">인문계열</option>
                                <option value="사회계열">사회계열</option>
                                <option value="교육계열">교육계열</option>
                                <option value="자연계열">자연계열</option>
                                <option value="의약계열">의약계열</option>
                                <option value="예체능계열">예체능계열</option>
                            </select>
                            <select class="custom-select col col-lg-3 ms-3" id="department3">
                                <option selected>계열 선택</option>
                                <option value="공학계열">공학계열</option>
                                <option value="인문계열">인문계열</option>
                                <option value="사회계열">사회계열</option>
                                <option value="교육계열">교육계열</option>
                                <option value="자연계열">자연계열</option>
                                <option value="의약계열">의약계열</option>
                                <option value="예체능계열">예체능계열</option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="num" class="col-md-auto">학번</label>
                            <select class="custom-select col col-lg-2" id="num1">
                                <option selected>학번 선택</option>
                                <option value="15">15학번</option>
                                <option value="16">16학번</option>
                                <option value="17">17학번</option>
                                <option value="18">18학번</option>
                                <option value="19">19학번</option>
                                <option value="20">20학번</option>
                                <option value="21">21학번</option>
                            </select>
                            <label class="col-md-auto">~</label>
                            <select class="custom-select col col-lg-2" id="num2">
                                <option selected>학번 선택</option>
                                <option value="15">15학번</option>
                                <option value="16">16학번</option>
                                <option value="17">17학번</option>
                                <option value="18">18학번</option>
                                <option value="19">19학번</option>
                                <option value="20">20학번</option>
                                <option value="21">21학번</option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="numPeople" class="col-md-auto">인원</label>
                            <select class="custom-select col col-lg-2" id="numPeople">
                                <option selected>인원 선택</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="row mb-3">
                            <label for="gender" class="col-md-auto">성별</label>
                            <select class="custom-select col col-lg-2" id="gender">
                                <option selected>성별 선택</option>
                                <option value="1">남자</option>
                                <option value="2">여자</option>
                                <option value="3">무관</option>
                            </select>
                        </div>

                    </div>
                    <button class="btn btn-primary form-control" id="selectButton" type="submit" onclick="location.href='/#'">매칭시작</button>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div th:replace="/layout/footer.html :: fragment-footer"></div>
</footer>
</body>
</html>